.header {
  min-height: 74px;
  border-bottom: solid 1px #545454;
  padding-top: 45px;
}

@media screen and (max-width: 649px) {
  /* стили для экранов с разрешением менее 650px по ширине */
  .header {
    padding-top: 28px;
  }
}
