.profile__name {
  display: inline-block;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding-bottom: 7px;
  padding-right: 18px;
  margin: 0;
}

@media screen and (max-width: 649px) {
  /* стили для экранов с разрешением менее 650px по ширине */
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    padding-left: 42px;
  }
}
