.profile__info {
  padding-left: 30px;
  color: #fff;
  font-size: 0;
}

@media screen and (max-width: 649px) {
  /* стили для экранов с разрешением менее 650px по ширине */
  .profile__info {
    padding-left: 0;
    padding-top: 26px;
  }
}
